{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
    <link href="{%static 'css/estilos.css'%}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>holaaaaaa</h1>
    <div class="div1">
        <p><a href="">inicio</a>
        <a href="">imagenes</a>
        <a href="">blog</a>
    </p>
    </div>
    <div class="div2">
        <ul>primero</ul>
        <ul>segundo</ul>
        <ul>tercero</ul>
        <ul>cuarto</ul>
    </div>
    <div class="div3">
        <p>Hubo un tiempo, cuando la vida de los humanos era sin ley y 
            bestial, esclava  de la fuerza, en el que no  había premio 
            para los honrados ni castigo para los malvados. Parece que 
            entonces los hombres inventaron leyes sancionadoras para que 
            la justicia fuera señora de todos y mantuviese dominada a la 
            insolencia, y si alguien cometía delitos fuera castigado. Ahora 
            bien, como las leyes solo impedían a los hombres cometer actos 
            injustos en público, pero los cometían en secreto, es por eso, 
            supongo yo, por lo que algún hombre de astuto y sabio pensamiento 
            introdujo por vez primera el temor a los dioses, de modo que hubiera 
            algún objeto de temor para los malos si a escondidas hacían, 
            decían o pensaban algún mal. Por esta razón fue introducida 
            la divinidad, que es un espíritu floreciente de vida inagotable, 
            que con su mente percibe y ve, piensa y domina todo, dotado de naturaleza divina. El dios podrá ver y sentir todo lo que dicen y hacen los mortales.</p>
        <p>Aunque en secreto trames algo malo, eso no les pasará oculto a los 
            dioses, porque es clarividente su inteligencia. Por medio de tales 
            discursos introdujo (el sabio legislador) la más seductora de las 
            doctrinas, ocultando la verdad bajo un relato engañoso. Decía que 
            los dioses habitaban allá donde sabía que podrían impresionar más  
            a los hombres, donde sabía que tienen origen los temores de los 
            mortales y los afanes de su vida miserable, en esta alta bóveda celeste, allí donde veía que surgen los rayos, las terroríficas detonaciones de los truenos, el estrellado rostro del cielo, versátil obra del Tiempo, sabio artífice, allí por donde cumple su curso la fulgente masa del sol y de donde desciende a la tierra la lluvia. Tales temores infundió en torno a los hombres. Con ellos y con ese hermoso parlamento introdujo la divinidad y la situó en un lugar adecuado, y mediante leyes extinguió la ilegalidad… Así, según creo, en un principio hubo alguien que indujo a los mortales a creer que hay una estirpe de dioses.</p>
    </div>
    <div class="div4">
        <a class="" href="links"><button class="links">link1</button></a>
        <a class="" href="links"><button class="links">link2</button></a>
        <a class="" href="links"><button class="links">link3</button></a>
        <a class="" href="links"><button class="links">link4</button></a>
        <a class="" href="links"><button class="links">link5</button></a>
        
        <a href="{%url 'usuario_list'%}">usuarios</a>
    </div>

    <footer>
        <h3>pagina prueba</h3>
    </footer>
    
</body>
</html>